<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcl.example.xie.dejun.diyview">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"

        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.tcl.example.com.tcl.dejun.xie.mainActivity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tcl.example.com.tcl.dejun.xie.startActivityForResult.ActivityForResultA"
            android:launchMode="singleTop"/>
        <activity android:name="com.tcl.example.com.tcl.dejun.xie.startActivityForResult.ActivityForResultB" />
        <activity
            android:name="com.tcl.example.com.tcl.dejun.xie.asnycTask.AsyncTaskActivity"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="com.tcl.example.com.tcl.dejun.xie.action.asnycTask" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="text/message"
                    android:scheme="data" />
            </intent-filter>
        </activity>
        <activity android:name="com.tcl.example.com.tcl.dejun.xie.startActivityForResult.RefreshActivity" />

        <service android:name="com.tcl.example.com.tcl.dejun.xie.startActivityForResult.MyService" />

        <activity android:name="com.tcl.example.com.tcl.dejun.xie.startActivityForResult.ActivityofContacts" />
        <activity android:name="com.tcl.example.com.tcl.dejun.xie.testScrollMethod.ScrollTestActivity" />
        <activity android:name="com.tcl.example.com.tcl.dejun.xie.ListViewUsage.ListViewActivity" />
        <activity android:name="com.tcl.example.com.tcl.dejun.xie.xmlResource.XmlActivity" />
        <activity android:name="com.tcl.example.com.tcl.dejun.xie.PorterDuffDemo.PorterDuffActivity" />
        <activity android:name="com.tcl.example.com.tcl.dejun.xie.PorterDuffDemo.PorterDuffActivity_2" />
        <activity android:name="com.tcl.example.com.tcl.dejun.xie.tintAndClipping.TintActivity"/>
        <activity android:name="com.tcl.example.com.tcl.dejun.xie.ReadAndWriteData.LoginActivity"/>
        <activity android:name="com.tcl.example.com.tcl.dejun.xie.ReadAndWriteData.EnterActivity"/>
        <activity android:name="com.tcl.example.com.tcl.dejun.xie.RecyclerViewDemo.RecyclerViewActivity"/>
        <activity android:name="com.tcl.example.com.tcl.dejun.xie.imageDownloag.ImageDownLoadActivity"/>
    </application>

</manifest>
